/*=======================GLOBAL=====================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 62.5%; /* 1rem = 10px */
  
    --Bright_Red: hsl(12, 88%, 59%);
    --Dark_Blue: hsl(228, 39%, 23%);
    --Dark_Grayish_Blue: hsl(227, 12%, 61%);
    --Very_Dark_Blue: hsl(233, 12%, 13%);
    --Very_Pale_Red: hsl(13, 100%, 96%);
    --Vary_Light_Gray: hsl(0, 0%, 98%);
  
    /*
    FONTS
    .be-vietnam pro-regular {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
    .be-vietnam pro-medium {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
    .be-vietnam pro-bold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  */
  }
  
  /*=======================BODY=====================*/
  html,
  body {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-simplify-section-mobile.svg");
  }
  
  /*=======================WRAPPER=====================*/
  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    
  }

  /*=======================HEADER=====================*/

  header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 5rem;
    position: relative;
  }

  header .logo img{
    width: 12rem;
  }

  header a button{
    display: none;
    width: 11rem;
    height: 4rem;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: var(--Bright_Red);
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  header .mobileMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: min(37rem, 90%);
    height: 25rem;
    background-color: cadetblue;
    gap: 1.5rem;
    transform: translateY(-100%);
    transition: transform ease 1s;

    
    
  }

  .wrapper .mobileMenuOpen{
    transform: translateY(60%);
  }

  header .mobileMenu li{
    list-style: none;
  }

  .mobileMenu li a{
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--Dark_Blue);
  }

  .mobileMenu li a:hover{
    color:black;
  }

  header .hamburguerIcons .iconOpen{
  height: 2.3rem;
  width: 2.5rem;
  }

  header .hamburguerIcons .iconClose{
    display: none;
  }

  header .hamburguerIcons .iconCloseShow{
    display: flex;
    width: 2.5rem;
  }

  header .hamburguerIcons .iconOpenDontShow{
    display: none;
  }

  /*=======================INTRODUCTION=====================*/

 .introduction .wrapper{
 display: grid;
 grid-template-areas: 
 "B"
 "A";
}

.introduction .wrapper div{
  width: min(50rem,100%);
}


.introduction .wrapper .introductionContent{
text-align: center;
grid-area: A;

}

.wrapper .introductionContent h1{
  font-size: 3.9rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--Dark_Blue);
}

.wrapper .introductionContent p{
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  color: var(--Dark_Grayish_Blue);
  opacity: 0.7;
  margin-block: 2rem;
  line-height: 3rem;

 
}

.wrapper .introductionContent button{
  width: 15rem;
  height: 4rem;
  font-size: 1.3rem;
  border-radius: 20px;
  background-color: var(--Bright_Red);
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  border: none;
  cursor: pointer;
}

.introduction .wrapper .introductionImg{
grid-area: B;

}

.wrapper .introductionImg img{
  display: block;
  margin: auto;
  width: min(50rem,100%);
}

  /*=======================ASIDEMAIN=====================*/
.asideMain{
  display: grid;
  grid-template-areas: 
  "A"
  "B";
}

.asideMain aside{
  grid-area: A;
}

.asideMain main{
  margin-top: 4rem;
  grid-area: B;
}

.wrapper .asideContent h1{
  margin-top: 6rem;
  text-align: center;
  font-size: 3rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style:normal;
  color: var(--Dark_Blue);
}

.wrapper .asideContent p{
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--Dark_Grayish_Blue);
  opacity: 0.7;
  margin-block: 2rem;
  line-height: 3rem;

 
}

.mainContent span{
  width: 105%;
  background-color: var(--Very_Pale_Red);
  display: flex;
  align-items: center;
  border-radius:20px 0px 0px 20px ;
}

.mainContent span h6{
  color: #FFFFFF;
  text-align: center;
  width: 6rem;
  padding-block: 1rem;
  border-radius: 20px;
  background-color: var(--Bright_Red);
  font-size: 1.7rem;
}

.mainContent span p{
  font-size: 1.5rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style:normal;
  color: var(--Dark_Blue);
  margin-left: 2rem;
}

.mainContent .paragraph{
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  color: var(--Dark_Grayish_Blue);
  opacity: 0.7;
  margin-block: 2rem;
  line-height: 3rem;
}

  /*=======================SECTION=====================*/
  section .wrapper{
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  section .wrapper h1{
    font-size: 3rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--Dark_Blue);
    text-align: center;
  }

  .wrapper .carrouselContents img{
    display: block;
    margin: auto;
    width: 6rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .wrapper .carrouselContents h3{
    font-size: 1.3rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style:normal;
    color: var(--Dark_Blue);
    text-align: center;
  }

  .wrapper .carrouselContents p{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    padding-inline: 2rem;
    color: var(--Dark_Grayish_Blue);
    opacity: 0.7;
    margin-block: 2rem;
    line-height: 3rem;
    text-align: center;
  }

  section .wrapper button{
    width: 15rem;
    height: 4rem;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: var(--Bright_Red);
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    border: none;
    cursor: pointer;
    margin-block: 4rem;
  }

  /*=======================HEADER=====================*/
  article{
    background-color: var(--Bright_Red);

  }
  article .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 2rem;
  }

  article .wrapper h1{
    margin-top: 6rem;
    text-align: center;
    font-size: 3.9rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style:normal;
    color: #FFFFFF;
    padding-inline:1rem;
  }

  article .wrapper button{
    width: 15rem;
    height: 4rem;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color:#FFFFFF;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--Bright_Red);
    border: none;
    cursor: pointer;
    margin-block: 4rem;
  }

   /*=======================FOOTER=====================*/
  footer{
    background-color: var(--Very_Dark_Blue);
  }

  footer .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .wrapper .emailInput input{
    margin-top: 5rem;
    width: 25rem;
    height: 4rem;
    padding-left: 2rem;
    border-radius: 20px;
    border: none;
    margin-right: 0.5rem;
  }

  .wrapper .emailInput button{
    width: 8rem;
    height: 4rem;
    border-radius: 20px;
    background-color:var(--Bright_Red);
    border: none;
    color: white;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  footer .wrapper .footerLinks{
    margin-top: 3rem;
    width: min(50rem, 100%);
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
  }

 .footerLinks ol a{
  text-decoration: none;
  color: #FFFFFF;
 }

 ol a li{
  list-style: none;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  margin-top: 2rem;
}

footer .wrapper .socialLinks{
  display: flex;
  gap: 3rem;
  margin-block: 5rem;
}

.socialLinks a img{
  width: 4rem;
}

footer .wrapper .footerLogo{
  width: 18rem;
  margin-bottom: 4rem;
}

footer .wrapper p{
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  margin-top: 2rem;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 4rem;
}